section.content {
    color: $text;

    .publicity {
        padding: 5px 10px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        background-color: $green;
        color: $white;
        font-weight: 500;

        .fa-hand-holding-usd {
            margin-right: 10px;
        }

        span.highlighted {
            color: $yellow;
        }
    }

    .content-container {
        display: block;
        width: 100%;
        display: flex;
        background-color: $white;

        @media screen and (max-width: 768px) {
            flex-direction: column;
        }
    }

    .slideshow, .information {
        width: 50%;

        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    .information {
        padding: 20px;
        max-width: 650px;
        padding: 40px 30px 15px 40px;

        .header {
            display: flex;

            .details {
                display: flex;
                flex-direction: column;
                max-width: calc(100% - 100px);

                span.country,
                span.sub-title {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 1.4;
                }
            
                span.title {
                    font-size: 28px;
                    font-weight: 600;
                    line-height: 1.4em;
                }

                .img {
                    position: relative;
                    flex: 1;
            
                    img {
                        position: absolute;
                        top: -30px;
                        right: 0px;
                    }
                }
            
                .days {
                    font-size: 15px;
                    margin-top: 15px;
                    display: inline-flex;
                    align-items: center;
                    font-weight: 400;
            
                    span {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
            
                    i {
                        margin-right: 5px;
                        font-size: 25px;
                    }
            
                    .small {
                        font-size: 16px;
                        margin-right: 12px;
                    }
            
                    .bold {
                        font-weight: 600;
                    }
                }
            }
        }
        
        .services {
            border-top: 1px solid $border_grey;
            border-bottom: 1px solid $border_grey;
            padding: 10px 15px;
            margin: 5vh 0;
            font-size: 12px;
            font-weight: 400;
            display: flex;
            
            .services-container {
                display: flex;
                align-items: center;
                align-items: center;
                display: flex;
                float: left;
                height: 50px;
                margin-right: 15px;
                line-height: 1.4;
        
                span {
                    max-width: 85px;
                }

                .icon-container {
                    margin-right: 10px;
                    width: 28px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
            
                    i {
                        font-size: 24px;
                    }
                }
            }
        }

        @media screen and (max-width: 768px) {
            max-width: 100%;
        }
    }


    .slideshow {
        .slideshow-container {
            height: 650px;
            background-image: url(../images/slider1.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            position: relative;

            &:hover {
                cursor: pointer;
            }
        }

        .thumbnails {
            display: flex;
            position: absolute;
            bottom: 10px;
            left: 10px;
        }

        .thumbnail {
            border: 1px solid $white;
            transition: all 0.2s ease;
            overflow: hidden;
            width: 72px;
            height: 52px;
            margin-right: 5px;
            background-color: $white;
            color: $white;
            position: relative;
            padding: 0;

            span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-weight: 400;
                font-size: 24px;
                pointer-events: none;
            }

            img {
                height: 55px;
                transition: all 0.2s ease;
            }

            &.total {
                background-color: $blue;

                border-color: $blue;

                img {
                    opacity: 0;
                    transition: all 0.2s ease;

                    &:hover {
                        opacity: .1;
                    }
                }

            }

        }

    }

    .date-price,
    .dates,
    .date-info-container,
    .date-month {
        display: flex;
    }

    .date-price {
        margin-bottom: 40px;

        .date-container {
            border-radius: 5px;
            border: 1px solid $border_grey;
            width: 310px;
            padding: 15px;
            font-weight: 400;
            line-height: 1.4;
            margin-right: 35px;
    
            img {
                width: 40px;
                margin: 0 8px;
            }

            .date-header {
                display: flex;
                flex-direction: column;
                font-size: 14px;
                margin-bottom: 10px;
            }
        
            .date-title {
                display: inherit;
                justify-content: space-between;
                font-weight: 500;
                line-height: 1.4;
                margin-bottom: 5px;
        
                span {
                    &:last-of-type {
                        font-size: 12px;
                        color: $pink;
                    }
                }
            }
    
            @media screen and (max-width: 1240px) {
                width: 100%;
                margin-bottom: 15px;
            }
        }

        .price-container {
            font-size: 12px;
    
            .bold {
                font-weight: 600;
            }
    
            .green {
                color: $green;
            }
    
            .txt-big {
                font-weight: normal;
                font-size: 40px;
            }

            .price-discount {
                width: 55px;
                height: 30px;
                color: white;
                font-weight: 500;
                letter-spacing: .8px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $orange;
                margin-bottom: 35px;
            }
        
            .from {
                font-weight: 400;
        
                .line-thorugh {
                    text-decoration: line-through;
                }
            }
        
            .final-price {
                margin: 10px 0 15px;
                display: flex;
                font-size: 15px;
        
                >span {
                    color: $orange;
                    margin-right: 10px;
                }
            }
        
            .final-price-text {
                padding-top: 5px;
                font-size: 12px;
                font-weight: 400;
                display: flex;
                flex-direction: column;
                line-height: 1.4;
            }
        
            .cancel {
                font-weight: 400;
                font-size: 11px;
            }
        }

        @media screen and (max-width:1240px) {
            flex-direction: column;
        }

    }

    .date-month {
        flex-direction: column;
        font-weight: 400;
        text-transform: capitalize;
        justify-content: center;
        font-size: 18px;
    }


    .date-number {
        font-size: 50px;
        margin-right: 5px;
    }

    button.select-btn {
        border: none;
        text-transform: uppercase;
        font-weight: 400;
        width: 310px;
        height: 40px;
        font-size: 14px;
        color: $white;
        background-color: $pink;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 3px;
        transition: all 0.3s ease;

        &:hover {
            background-color: lighten($pink, 8%);
        }

        @media screen and (max-width: 1240px) {
            width: 100%;
        }
    }
}